//- modèle envoyé sur slack
mj-section(padding="15px" background-color="#d5176d")
  mj-column(vertical-align="middle" width="50%")
    mj-image(padding="0" fluid-on-mobile="true" width="285px" src="https://i.ibb.co/YQCJ8nD/pumpkin-Pie.png" alt="pumpkin pie image")/
  mj-column(width="50%" vertical-align="middle" padding="20px")
    mj-text(padding-left="0" padding-right="0" padding-bottom="20px" padding-top="50px" font-size="22px" font-family="'Arial Black', Arial, Verdana, sans-serif" color="#ffffff" line-height="26px") Classic Pumpkin Pie
    mj-social(padding="3px 0" align="left" icon-size="20px" font-size="15px" font-family="'Arial Black', Arial, Verdana, sans-serif" color="#ffffff" line-height="18px" mode="horizontal")
      mj-social-element(src="https://i.ibb.co/sCJdsyz/icon-Etoilesolid.png") &nbsp;
      mj-social-element(src="https://i.ibb.co/vL5xMNY/icon-Etoileregular.png") &nbsp;
      mj-social-element(src="https://i.ibb.co/vL5xMNY/icon-Etoileregular.png") &nbsp;&nbsp;Level: Very Easy
    mj-social(padding="3px 0" align="left" icon-size="20px" font-size="15px" font-family="'Arial Black', Arial, Verdana, sans-serif" color="#ffffff" line-height="18px" mode="horizontal")
      mj-social-element(src="https://i.ibb.co/X4pjpPg/icon-Clock.png") &nbsp;&nbsp;&nbsp;&nbsp;2h 20m
    mj-social(padding="3px 0" align="left" icon-size="20px" font-size="15px" font-family="'Arial Black', Arial, Verdana, sans-serif" color="#ffffff" line-height="18px" mode="horizontal")
      mj-social-element(src="https://i.ibb.co/McMjwnb/icon-Couvert.png") &nbsp;&nbsp;&nbsp;&nbsp;Serves 12
    mj-text(align="left" font-family="'Arial Black', Arial, Verdana, sans-serif" font-size="15px" color="#ffffff" line-height="18px") #[a(style="color:#ffffff;vertical-align:middle;" href="#") See recipe] &nbsp; #[img(style="vertical-align:middle;width:20px;" src="https://i.ibb.co/PwY5CWX/icon-Arrow.png")]/