mjml
    //- Head
    mj-head
        mj-title pumpkinPie Mjml
        mj-font(name="fontAwesome" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")/
        mj-raw.
            <meta name="color-scheme" content="light"/>
            <meta name="supported-color-schemes" content="light"/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-attributes
            mj-all(font-family="'Arial Black', Arial, Helvetica, sans-serif" font-weight='400' font-size='15px')/
            mj-image(border='none')/
        mj-breakpoint(width='480px')
    //- Body
    mj-body(background-color="#ffffff")       
        //- content
        block content
        //- fontawesome
            block fontawesome
            include ../includes/_fontawesome
        //- socialElement
            block socialElement
            include ../includes/_socialElement
        //- imgMjtext
            block footer
            include ../includes/_imgMjtext
        //- final
            block final
            include ../includes/_final