extends templates/_layout
//- content 
block content
    //- Header Text
    mj-section(padding="15px" background-color="#d5176d")
        mj-column(vertical-align="middle" width="50%")
            mj-image(padding="0" fluid-on-mobile="true" width="285px" src="https://i.ibb.co/YQCJ8nD/pumpkin-Pie.png" alt="pumpkin pie image")/
        mj-column(width="50%" vertical-align="middle" padding="20px")
            mj-text(padding-left="0" padding-right="0" padding-bottom="20px" padding-top="50px" font-size="22px" font-family="'Arial Black', Arial, Verdana, sans-serif" color="#ffffff" line-height="26px") Classic Pumpkin Pie
            mj-text(padding="8px 0" align="left" font-family="'Arial Black', Arial, Verdana, sans-serif" font-size="15px" color="#ffffff" line-height="20px")
                img(style="padding:0;height:20px;vertical-align:middle;width:auto;" src="https://i.ibb.co/f2t070Z/icon3-Etoiles.png")/ #[span(style="padding-left:20px;vertical-align:middle;") Level: Very Easy]
            mj-text(padding="8px 0" align="left" font-family="'Arial Black', Arial, Verdana, sans-serif" font-size="15px" color="#ffffff" line-height="20px")
                img(style="padding:0;height:20px;vertical-align:middle;"  src="https://i.ibb.co/X4pjpPg/icon-Clock.png")/ #[span(style="padding-left:20px;vertical-align:middle;") 2h 20m]
            mj-text(padding="8px 0" align="left" font-family="'Arial Black', Arial, Verdana, sans-serif" font-size="15px" color="#ffffff" line-height="20px")
                img(style="padding:0;height:20px;vertical-align:middle;width:auto;" src="https://i.ibb.co/McMjwnb/icon-Couvert.png")/ #[span(style="padding-left:20px;vertical-align:middle;") Serves 12]
            mj-text(align="left" font-family="'Arial Black', Arial, Verdana, sans-serif" font-size="15px" line-height="18px" color="#ffffff") #[a(style="color:#ffffff;vertical-align:middle;" href="#") See recipe] &nbsp;
                img(style="padding:0;vertical-align:middle;height:20px;width:auto" src="https://i.ibb.co/PwY5CWX/icon-Arrow.png")/