extends templates/_layout
//- content
block content
    //- Header Text
    mj-section(padding="15px" background-color="#d5176d")
        mj-column(vertical-align="middle" width="50%")
            mj-image(padding="0" fluid-on-mobile="true" width="285px" src="https://i.ibb.co/YQCJ8nD/pumpkin-Pie.png" alt="pumpkin pie image")/
        mj-column(width="50%" vertical-align="middle" padding="20px")
            mj-text(padding-left="0" padding-right="0" padding-bottom="0" padding-top="50px"  font-size="22px" font-family="'Arial Black', Arial, Verdana, sans-serif" color="#ffffff" line-height="26px") Classic Pumpkin Pie
            mj-social(padding="0" align="left" icon-size="20px" font-size="14px" font-family="'Arial Black', Arial, Verdana, sans-serif" color="#ffffff" line-height="26px" mode="vertical")
                mj-social-element(icon-size="60px" icon-padding="0 20px 0 0" src="https://i.ibb.co/qyQDT2X/Plan-de-travail-1-copie-3.png") Level: Very Easy
            mj-social(padding="0" align="left" icon-size="20px" font-size="14px" font-family="'Arial Black', Arial, Verdana, sans-serif" color="#ffffff" line-height="26px" mode="vertical")
                mj-social-element(padding-top="0px" icon-padding="0 20px 0 0" src="https://i.ibb.co/X4pjpPg/icon-Clock.png") 2h 20m
                mj-social-element(padding-top="10px" icon-padding="0 20px 0 0" src="https://i.ibb.co/McMjwnb/icon-Couvert.png") Serves 12
            mj-social(padding="0" align="left" icon-size="20px" font-size="14px" font-family="'Arial Black', Arial, Verdana, sans-serif" color="#ffffff" line-height="26px" mode="vertical" icon-position="right" direction="rtl")
                mj-social-element(icon-padding="0 0 0 10px"  src="https://i.ibb.co/PwY5CWX/icon-Arrow.png") #[a(style="color:#ffffff" href="#") See recipe]